.withdrawal-container {
  margin-top: 50px;

  h3 {
    margin-left: 24px;
  }

  .mat-table {
    padding: 24px;

    .footer-row {
      background-color: #F3F3F3;
      font-weight: bold;
    }
  }
}

.not-found, .loader-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

