<div class="container-login">
  <div class="wrap-login">
    <form class="login-form">
      <div class="company">Fintech WWW</div>
      <mat-form-field class="input-container">
        <mat-label>User name</mat-label>
        <input type="email" matInput [formControl]="userNameFormControl" [errorStateMatcher]="matcher">
        @if (userNameFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="input-container">
        <mat-label>Enter your password</mat-label>
        <input matInput [formControl]="passwordFormControl" [type]="hidePassword ? 'password' : 'text'">
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (passwordFormControl.hasError('required')) {
        <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="container-login-btn"
        [disabled]="userNameFormControl.hasError('required') || passwordFormControl.hasError('required')"
        (click)="login()"
      >Login</button>

      <div class="signup-container">
        <span class="txt1">
          Don’t have an account?
        </span>
        <a class="txt2" [routerLink]="'/sign-up'" [routerLinkActive]="'active'">
          Sign Up
        </a>
      </div>
    </form>
  </div>
</div>

